.campanies{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    @include small-phone{
        height: 140vh;
    }
    @include phone-landscape{
        height: 130vh;
    }
    @include desktop{
        height: 70vh;
        overflow: initial;
       
    }
    @include desktop-1440{
        height: 70vh;
    }
    &__container{
        height: 95%;
        width: 90%;
        display: flex;
        flex-direction: column;
        position: relative;
       
        @include desktop{
            justify-content: space-between;
            padding-top: 6rem;
            flex-direction: row;
        }
        
    }
}
.campanies__text{
    height: 70%;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 50%;
    @include tablet{
        height: 20%;
    }
    &::after{
        content: '';
        width: 100%;
        height: .2rem;
        bottom: 60%;
        background: $lightblue;
        position: absolute;
        @include small-phone{
            bottom: 50%;
        }
        @include desktop{
            content: '';
            width: .1rem;
            height: 120%;
            right: -20%;
            background: $lightblue;
            position: absolute;
            top: -20%;
        }
      
        @include tablet{
            content: '';
            width: .1rem;
            height: 120%;
            right: -20%;
            background: $lightblue;
            position: absolute;
            top: -20%;
        }
        

    }
    P{
        font-size: 1.2rem;
        text-align: justify;
        @include tablet{
            width: 60%;
            margin: 0 auto;
        }
        @include desktop-1440{
            font-size: 1.5rem;
        }
    }
    h3{
        width: 90%;
        margin: 0 auto;
        
        @include desktop-1440{
            font-size: 2.3rem;
           
        }
    }
    @include desktop{
        height: 45%;
        text-align: center;
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    @include desktop-1440{
        height: 40%;
    }
}
.campanies__names{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @include desktop{
        width: 50%;
    }
   
    .campanies__box{
        width: 48%;
        height: 15%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 100%;
        position: relative;
        @include phone-landscape{
            width: 40%;
            height: 20%;
        }
        @include desktop{
            width: 33%;
        height: 20%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 100%;
        position: relative;
        }
       
       

    }
    
}
.first{
    background: url('/pictures/Mitsubishi-Logo-Transparent-PNG.png');
}
.second{
    background: url('/pictures/samsung.jpg');
}
.third{
    background: url('/pictures/sevra.jpg');
}
.fourth{
    background: url('/pictures/rotenso-logo-1A.jpg');
}
.fifth{
    background: url('/pictures/GREE.svg');
}
.sixth{
    background: url('/pictures/KAISAI-logo-01.jpg');
}
.seventh{
    background: url('/pictures/lg-svg.svg');
}


#nav {
    text-align: center;
    margin: 0 auto;
    width: 135px;
    position: absolute;
    left: 30%;
    bottom: 40%;
    @include desktop{
      left: 40%;
      width: 135px;
    }
    
  }
  .prev{
      height: 3rem;
      width: 3rem;
      border: none;
      margin-right: 3rem;
      @include desktop{
        margin: 0;
      }

  }
  .next{
    height: 3rem;
    width: 3rem;
    border: none;
  }
  #wrapper {
    width: 300px;
    height: 280px;
    position: absolute;
    left: 0%;
    top: 70%;
   
    @include desktop{
      left: 55%;
      top: 0;
    }
  }
  
  #carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    /*-webkit-transform: translateZ( -288px );
           -moz-transform: translateZ( -288px );
             -o-transform: translateZ( -288px );
                transform: translateZ( -288px );*/
  }
  
  #carousel figure {
    display: block;
    position: absolute;
    width: 300px;
    height: 180px;
    left: 10px;
    top: 10px;
    border: 1px solid #00325434;
    line-height: 116px;
    font-size: 80px;
    font-weight: bold;
    
    text-align: center;
    z-index: 1000;
  
  }
  
  #carousel figure:nth-child(1) {
  
    background: url('../../public/pictures/aux-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
   
  }
  
  #carousel figure:nth-child(2) {
    background: url('../../public/pictures/sevra.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #carousel figure:nth-child(3) {
    background: url('../../public/pictures/Mitsubishi-Logo-Transparent-PNG.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #carousel figure:nth-child(4) {
    background: url('../../public/pictures/lg-svg.svg');
    background-size: contain;
    background-repeat: no-repeat; 
      background-position: center;

  }
  
  #carousel figure:nth-child(5) {
    background: url('../../public/pictures/toshiba-w.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  

  

  
  #carousel figure:nth-child(1) {
    -webkit-transform: rotateY( 0deg) translateZ( 288px);
    -moz-transform: rotateY( 0deg) translateZ( 288px);
    -o-transform: rotateY( 0deg) translateZ( 288px);
    transform: rotateY( 0deg) translateZ( 288px);
  }
  
  #carousel figure:nth-child(2) {
    -webkit-transform: rotateY( 40deg) translateZ( 288px);
    -moz-transform: rotateY( 40deg) translateZ( 288px);
    -o-transform: rotateY( 40deg) translateZ( 288px);
    transform: rotateY( 40deg) translateZ( 288px);
  }
  
  #carousel figure:nth-child(3) {
    -webkit-transform: rotateY( 80deg) translateZ( 288px);
    -moz-transform: rotateY( 80deg) translateZ( 288px);
    -o-transform: rotateY( 80deg) translateZ( 288px);
    transform: rotateY( 80deg) translateZ( 288px);
  }
  
  #carousel figure:nth-child(4) {
    -webkit-transform: rotateY( 120deg) translateZ( 288px);
    -moz-transform: rotateY( 120deg) translateZ( 288px);
    -o-transform: rotateY( 120deg) translateZ( 288px);
    transform: rotateY( 120deg) translateZ( 288px);
  }
  
  #carousel figure:nth-child(5) {
    -webkit-transform: rotateY( 160deg) translateZ( 288px);
    -moz-transform: rotateY( 160deg) translateZ( 288px);
    -o-transform: rotateY( 160deg) translateZ( 288px);
    transform: rotateY( 160deg) translateZ( 288px);
  }
  
  #carousel figure:nth-child(6) {
    -webkit-transform: rotateY( 200deg) translateZ( 288px);
    -moz-transform: rotateY( 200deg) translateZ( 288px);
    -o-transform: rotateY( 200deg) translateZ( 288px);
    transform: rotateY( 200deg) translateZ( 288px);
  }
  
  #carousel figure:nth-child(7) {
    -webkit-transform: rotateY( 240deg) translateZ( 288px);
    -moz-transform: rotateY( 240deg) translateZ( 288px);
    -o-transform: rotateY( 240deg) translateZ( 288px);
    transform: rotateY( 240deg) translateZ( 288px);
  }
  
  #carousel figure:nth-child(8) {
    -webkit-transform: rotateY( 280deg) translateZ( 288px);
    -moz-transform: rotateY( 280deg) translateZ( 288px);
    -o-transform: rotateY( 280deg) translateZ( 288px);
    transform: rotateY( 280deg) translateZ( 288px);
  }
  
  #carousel figure:nth-child(9) {
    -webkit-transform: rotateY( 320deg) translateZ( 288px);
    -moz-transform: rotateY( 320deg) translateZ( 288px);
    -o-transform: rotateY( 320deg) translateZ( 288px);
    transform: rotateY( 320deg) translateZ( 288px);
  }
  .campanies__content{
      width: 100%;
      @include desktop{
        width: 40%;
      }
      h3{
          font-size: 2rem;
          color: $dark-blue;
      }
      p{
          font-size: 1.5rem;
          padding-top: 3rem;
          width: 80%;
          line-height: 2.5rem;
      }
  }