$dark: #003354;
$dark-blue: #003354;
$shadeno1: #011126;
$shadeno2: #333B40;
$shadeno3: #84898C;
$shadeno4: #84898C;
$shadeno5: rgba(71, 71, 233, 0.959);
$lightblue: #307bc7;
$anotherblue: #76C0D4;
$lightorange: #E0A832;
$darkorange: #D77230;
$fontcolor: #011126;