.contact{
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    @include small-phone{
        height: 150vh;
        margin-bottom: 30%;
       
    }
    @include phone-landscape{
        height: 150vh;
        margin-bottom: 0;
    }
    @include  tablet{
        height: 60vh;
    }
    @include desktop{
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 5rem;
    }
   
    &__container{
        height: 90%;
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        position: relative;
        justify-content: space-between;
        @include small-phone{
            height: 100%;
        }
        @include desktop{
            height: 95%;
            width: 95%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            position: relative;
        }
        
        
    }
}
.contact__map{
    height: 50%;
    width: 100%;
    position: relative;
    @include desktop{
        height: 80%;
        width: 100%;
        position: relative; 
    }
    
    
    
}
.gm-style-mtc{
    display: none;
    @include tablet{
        display: block;
    }
   
}
.gmnoprint{
    display: none;
    @include tablet{
        display: block;
    }
    @include desktop{
        display: block;
    }
}
.gm-control-active{
    display: none;
    @include tablet{
        display: block;
    }
  
}
.gm-svpc{
    display: none;
}
.contact__content{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    background: white;
  
    background: $dark-blue;
    -webkit-box-shadow: 2px -1px 16px 2px rgba(0, 50, 84, 0.199);
    -moz-box-shadow: 2px -1px 16px 2px rgba(0,51,84,1);
    box-shadow: 2px -1px 16px 2px rgba(0, 50, 84, 0.404);
    @include desktop{
        height: 40%;
        left: 5%;
        position: absolute;
    }
    &::after{
        content: '';
        height: 6rem;
        width: .5rem ;
        top: 0;
        background: white;
        right: 20%;
        position: absolute;
    }
    &::before{
        content: '';
        height: 6rem;
        width: .5rem ;
        bottom: 0;
        background: white;
        right: 20%;
        position: absolute;
    }
    @include desktop{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 32%;
        position: absolute;
        bottom: 10%;
        height: 100%;
        left: 5%; 
        position: absolute; 
    }
    @include desktop-1440{
       
    }

    address{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 1.3rem;
        width: 95%;
        margin: 0 auto;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: left;
        @include desktop{
            align-items: flex-start;
            padding-left: 8rem;
            height: 45%;
            justify-content: space-between;
            align-items: flex-start;
            
        }
        p{
            text-align: left;
            padding-top: 2rem;
            display: block;
            font-size: 1.5rem;
            color: white;
            width: 80%;
            padding-left: 3rem;
            @include small-phone{
                font-size: 1.2rem;
            }
            img{
                height: 3rem;
                width: 3rem;
                position: absolute; 
                left: 5%;
            }
            a{
                color: white !important;
            }
            @include desktop{
                text-align: left;
                padding-top: 2rem; 
                padding-left: 2rem;
            }
        }
    }
}
.contact__headline{
height: 10%;
display: flex;
justify-content: center;
align-items: flex-end;
position: relative;
@include desktop{

}

h2{
    color: $darkorange;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 50%;
        height: .3rem;
        background: $lightblue;
        opacity: .2;
        left: 50% ;
        bottom: -50%;
        transform: translate(-50%,0%);
     }
    @include desktop-1440{
        font-size: 2.8rem;
    }
}
}