.footer{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    overflow: hidden;
    width: 100%;
    border-top: .1rem solid $dark-blue;
    @include small-phone{
        height: 22vh;
    }
    @include desktop{
        height: 25vh; 
        margin-top: 4rem;
    }
    @include desktop-1440{
        height: 25vh;
    }
    @include phone-landscape{
        height: 30vh;
    }
  
    &__container{
        height: 95%;
        width: 95%;
        display: flex;
      
        position: relative;
        @include desktop{
            width: 95%;

            

        }
        
    }
}
.footer__logo{
  width: 10%;
  height: 70%;
  padding-bottom: 1rem;
  @include desktop{
      height: 60%;
      position: absolute;
      width: 8%;
      left: 0;
      top: 5%;
      padding-bottom: 0;
  }
  svg{
      height: 50%;
      width: 60%;
      @include desktop{
          height: 100%;
         
      }
  }
}

.footer__icons{
position: absolute;
top: 40%;
right: 0;
height: 3rem;
width: 3rem;
z-index: 150;
}
.footer-link{
    position: relative;
    &:after{

        content: '';
        position: absolute;
        height: 100%;
        width: .1rem;
        background: whitesmoke;
        right: -10%;
        top: 0;
        @include small-phone{
            right: -20%;
        }
        @include phone-landscape{
            right: -30%;
        }
        @include desktop{
            content: '';
            position: absolute;
            height: 100%;
            width: .1rem;
            background: whitesmoke;
            right: -30%;
            top: 0;
        }
        @include desktop-1440{
            right: -70%;
        }
    }
}


.footer__all-rights{
    position: absolute;
    right: 0%;
    top: 10%;
    width: 70%;
    bottom: 5%;
    text-align: right;
    @include small-phone{
        width: 90%;
    }
    @include desktop{
        width: 50%; 
    }
    span{
        color: rgb(32, 32, 32);
        font-size: 1.5rem;
        @include desktop{
            font-size: 1.5rem;  
        }
       
    }
    
}
.footer__about-author{
    position: absolute;
    right: 0;
    top: 40%;
    width: 60%;
    font-size: .5rem;
    text-align: right;
    @include small-phone{
        font-size: .8rem;
        top: 30%;
        width: 65%;
    }
    @include desktop{
        position: absolute;
    right: 0;
    bottom: 2%;
    }
    span{
        color: rgb(32, 32, 32);
        font-size: .7rem;
        text-align: right;
        @include desktop{
            font-size: 1.5rem; 
        }
       
    }
}